---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% assign talksByYear = site.talks | group_by_exp:"talk", "talk.date | date: '%Y'" %}
{% for year in talksByYear reversed %}
  <h2>{{ year.name }}</h2>
    <ul>
      {% for post in year.items reversed %}
        {% include archive-single-talk.html %}
      {% endfor %}
    </ul>
{% endfor %}
